/* google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top:2rem ;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "poppins",sans-serif;
    background-color: #111;
    
}
:root{
    --main-color:#ffffffff;
    --second-color:#ae09fa;
}
section{
    padding: 50px 10%;

}
img{
    width: 100%;
}
*::selection{
    color: #ffffffff;
    background: var(--main-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10%;
    transition: 0.2s;
}
header .active{
    background: var(--second-color);
    box-shadow: 0 0 40px rgb(14 55 54 / 15%);
}
header .active .logo{
    color: #fff;
}
header .active .navbar a {
color: #fff;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight:600;
    color: #c80ce0;
}
.logo img{
    width: 130px;
    margin-right: 10px;
}
.navbar{
    display: flex; 
    justify-content: right;
    text-align: right;
    padding: 25px;
    background: transparent;
    box-sizing: 15px;
}
.navbar ul{
    border: 5px;
    border-radius: 6px;
}
.navbar a{
   font-size: 1.2rem; 
   padding: 10px 20px;
   color: green;
   font-weight: 500;
}
.navbar a:hover{
    color: #b7327f1;
    background: rgb(239, 237, 240);
    border-radius: 4px;
    transition: 0.5s ease;
}
#menu-icon{
    font-size:25px;
    cursor: pointer; 
    display: none;
}

.home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: url(pics/);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    gap: 1rem;
}

.home-text{
    flex: 1 1 17rem;
}
 
.home-img{
    flex: 1 1 17rem;

}

.home-text span{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--main-color);
}

.home-text h1{
    font-size: 1rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:green;
}

.home-text p{
    margin: 0.5rem 0 1.4rem;
    color: whitesmoke;
}

.btn{
    padding: 10px 20px;
    width: 20%;
    height: 20%;
    border: 2px solid green;
    border-radius: 35px; 
    color:whitesmoke;
    font-weight: 500;
}
.btn:hover{
    letter-spacing: 1px;
    color: blue;
    transition: 0.5s ease-in-out;

}
.shop{
    display: flex ;
    align-items: center;
    flex-direction: column;
    background: url(pics/mas.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.shop h1{
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 2rem;
    text-transform: uppercase;

}
.about-container{
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--main-color);
    border-radius:15px;
    padding: 17px;
    gap: 4.7rem;
}
.box-img{
    width: 240px;
    height: 200px;
    border-radius: 12px;
}
.box-img img{
    width: 240px;
    height: 200px;
    object-fit:contain;
    object-position: center;
}
.shop-box{
    flex: 1 1 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-box h3{
    font-size: 1rem;
    font-weight: 500;
    color: var(--second-color);
    margin: 0 0 0.5rem;
}

.about-box h2{
    font-size: 1.2rem;
    color: var(--main-color);
    letter-spacing: 1px;
}

.heading{
    text-align: center;
    justify-content: center;
}

.heading h2{
    font-size: 2rem;
    color: var(--second-color);
    margin-bottom: 0.5rem;
}

.shop-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem; 
}

.shop-box{
    position: relative;
    flex: 1 1 16rem;
    box-shadow: 0 5px 5px rgba(65, 15, 132, 0.469);
    border-radius: 0.5rem;
    box-sizing: border-box;
    height: auto;
}

.shop-img{
    width: 100%;
    height: 300px;
    border-radius: 1.5rem;
    overflow: hidden;
}

.shop-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.shop-img img:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.shop-box h3{
    font-size: 1rem;
    font-weight: 500;
    color: green;
    padding: 10px;
}
.shop-box h2{
   font-size: 1.2rem;
   color: var(--main-color);
   letter-spacing: 2px;
   padding: 10px;
}

.shop-box .bx bxs-cart-add{
position: absolute;
right: 0;
bottom: 0;
font-size: 20px ;
padding: 10px;
color: #fff;
background: var(--main-color);
border-radius: 4px 0 4px 0;
}

.shop-box .bxs-cart-add:hover{
    background: var(--second-color);
    transition: 0.4s ease;
}

.customer-container .box{
    flex: 1 1 16rem;
    text-align: center;
    box-shadow: 0px 4px 4px rgb(14 55 54 / 15%);
    padding: 20px;
    border-radius: 0.5rem;
}
.box img{
    width: 70px;
    height: 70px;
    border-radius: 60%;
    object-fit: cover;
    border: 2px solid var(--second-color);
}
.box .bx{
    color: var(--main-color);
    margin-top: 0.5rem;
}
.box p{
    margin: 0.5rem;
}
.box h2{
    font-size: 1.2rem;
    color: var(--main-color);
    letter-spacing: 1px;
}
.heading
{
    color: white;
    text-align: center;
}